.filter-section {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}

.filters-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.25rem;
}
